<?xml version="1.0"?>
<!--
/**
 * @author Kevin Earl Gardner
 * @copyright  MIT License
 * @package BRD_QuickAddCart
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="quickaddcart" frontName="quickaddcart">
            <module name="BRD_QuickAddCart" />
        </route>
    </router>
</config>
